/* FONTS */
$font-size: 16px;
$font-family: 'Arial';
/* FONTS */

/* COLORS */
$blue: #09c;
/* END COORS */

/* MIXIN */
@mixin font-smooth(){
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}
@mixin display-inline($v-align){
	display: inline-block;
	vertical-align: $v-align;
	display: -moz-inline-stack;
	*display: inline;
	zoom: 1;
}
@mixin box-sizing(){
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
@mixin box-shadow($long,$color){
	text-shadow: 0 $long 0 $color;
	-webkit-text-shadow: 0 $long 0 $color;
	-moz-text-shadow: 0 $long 0 $color;
	-o-text-shadow: 0 $long 0 $color;
	-ms-text-shadow: 0 $long 0 $color;
}
/* END MIXIN */

/* LAYOUT */
$max-width-px: 1301px;
/* END LAYOUT */

/* LEFT-PANEL */
$left-panel-width-px: 140px;
$left-panel-width: unquote((($left-panel-width-px / $max-width-px) * 100) + '%');
$right-panel-width: unquote(((($max-width-px - $left-panel-width-px) / $max-width-px) * 100) + '%');
/* END LEFT-PANEL */